     body {
        position: relative;
        z-index: 0;
    }


    body::after {
        background: url(images/istockphoto-614630342-612x612.jpg);
        background-position: center;
        background-repeat:no-repeat;
        content: "";
        opacity: 0.3;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;   
    }

body,
html {
    width: 100%;
    height: 100%;
    color: black;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}


.content{
    padding-top: 15%;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 70%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid black;
}

.button-style {
    background-color: #D3D3D3;
}

.button-style:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.nav-style {
    background-color: #D3D3D3;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


